<div class="lineBreak">
        <div class="container-fluid  ">
          <div class="row">
            <div class="col"> <hr></div>
            <div class="col-auto text-center "> 
                <h6>Designers</h6>
            </div>
            <div class="col"><hr></div>
          </div>
          <div class="row">
              <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

<div class="row">
<div class="col-4 text-center">
<img class="designerImg rounded-circle" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
<h6>Designer name</h6>

</div>
<div class="col-4 text-center">
    <img class="designerImg rounded-circle" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
    <h6>Designer name</h6>
</div>
<div class="col-4 text-center">
    <img class="designerImg rounded-circle" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
    <h6>Designer name</h6>
</div>
</div>
<div class="mt-3  text-center">
    <button class="btn btnP">And Many More</button>
</div>