<div class="card container">
      <div class="card-body row">
          <div class="col-6">
                <h4 class="mt-3">Address Book</h4>
                
                    <button type="button" class="btn btnP container-fluid mt-3" data-toggle="modal" data-target="#AddressModal">Add new address</button>

                    <!-- modal box -->

                    <div class="modal fade" id="AddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Add new address</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form>
                                        <div class="form-group">
                                          <input type="text" placeholder="Full name" class="form-control" id="recipient-name">
                                        </div>
                                         <div class="form-group">
                                          <input type="text" placeholder="Street" class="form-control" id="recipient-name">
                                        </div>
                                         <div class="form-group">
                                          <input type="text" placeholder="Flat No./ Building No. " class="form-control" id="recipient-name">
                                        </div>
                                         <div class="form-group">
                                          <input type="text" placeholder="City" class="form-control" id="recipient-name">
                                        </div>
                                         <div class="form-group">
                                          <input type="text" placeholder="State" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                          <input type="text" placeholder="Pin code" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                          <input type="text" placeholder="Number" class="form-control" id="recipient-name">
                                        </div>
                                       
                                      </form>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btnS" data-dismiss="modal">Cancel</button>
                                      <button type="button" class="btn btnP">Add address</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                
                <div class="card mt-3 py-2" >
                        <div class="card-body mt-3">
                                <h5>user name </h5>
                                <br>
                                <h6>address</h6>
                                <br>
                                <h5>883439394</h5>
                                <br>
                                <h6>302020</h6>
                        </div>
                        <br>
                        <div class="card-footer text-center">
                            <div class="row">
                                    <div class="col">
                                            <a class="col " href="#">Edit</a>
                                    </div>
                                    <div class="col">
                                            <a class="col " href="#">Delete</a>
        
                                    </div>
                            </div>
                           
                        </div>
                </div>
          </div>
          <div class="col-6">
          </div>
     </div>
</div>
    
