<div class="container mt-5">
  <h5 class="pl-3">Tags</h5>
  <div class="row">
    <div class="col">
        <div class="card">
            <img src="../../../assets/demo jewellery images/Beautiful-ring.jpg" class="card-img-top" alt="...">
            <div class="card-footer py-1 text-center bgColor">
              <h6 class="mt-2">#Trending</h6>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/demo jewellery images/Beautiful-ring.jpg" class="card-img-top" alt="...">
            <div class="card-footer py-1 text-center bgColor">
              <h6 class="mt-2">#Trending</h6>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/demo jewellery images/Beautiful-ring.jpg" class="card-img-top" alt="...">
            <div class="card-footer py-1 text-center bgColor">
              <h6 class="mt-2">#Trending</h6>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/demo jewellery images/Beautiful-ring.jpg" class="card-img-top" alt="...">
            <div class="card-footer py-1 text-center bgColor">
              <h6 class="mt-2">#Trending</h6>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/demo jewellery images/Beautiful-ring.jpg" class="card-img-top" alt="...">
            <div class="card-footer py-1 text-center  bgColor">
              <h6 class="mt-2">#Trending</h6>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/demo jewellery images/Beautiful-ring.jpg" class="card-img-top" alt="...">
            <div class="card-footer py-1 text-center bgColor">
              <h6 class="mt-2">#Trending</h6>
            </div>
          </div>
    </div>
  </div>
</div>
