
 
   <div class="card">
      <h5 class="m-3">Orders</h5>
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">All Orders</a>
          </li>
          <h5>|</h5>
          <li class="nav-item">
            <a class="nav-link" href="#">Active Orders</a>
          </li>
          <h5 >|</h5>
          <li class="nav-item">
            <a class="nav-link" href="#">Returned and cancelled orders</a>
          </li>
          
        </ul>
      <div class="card-body">
          <div class="container">
              <div class="card container mr-2 py-2" >
                     <div class="row">
                         <div class="col-auto "><h6>Shipped</h6></div>
                         <div class="col-auto">
                            <h6>Order No. 23982</h6>
                         </div>
                        </div>
                        <h6 class="text-muted ml-3"> order placed on </h6>
                  <hr>
 
                    
                      <h6>shipment 1: 1 item will be delevred on...</h6>
                      <div class="row">
                        <div class="col-6">
                           <img src="../../../assets/demo jewellery images/diamond ring image.jpg" id="orderimg1" alt="">
                        </div>
                        <div class="col-6">
                           <div class="text-right align-middle">
                               <button routerLink="/dashboardpage/orderdetails" class="btn btnP m-2  ">View details</button>
                               <button routerLink="/dashboardpage/trackorder" class="btn btnS m-2">Track order</button>
                            </div>
                        </div>
                      </div>
                  
                  </div>
          </div>
              
      </div>
    </div>
 