<!-- <div class="">

</div> -->
<div class="container-fluid ">
  <!-- coverPic -->
      <img class="img-fluid homeCover" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
</div>

<!-- collections -->
<!-- <div class="container  mt-5">
    <div class="row">
        <div class="col-6">
      <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
          
        </div>
        <div class="col-6">
            <div class="">
      <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
            </div>
            <div class="">
      <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">

            </div>
        </div>
      </div>
    </div> -->
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 ">
            <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
        
          </div>
          <div class="col-md-6">
            <div >
                <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
            </div>
            <div class="mt-3">
            <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
            </div>
          </div>
        </div>
      </div>


      <!-- shop by mood -->
      <div class="lineBreak">
          <div class="container-fluid  ">
            <div class="row">
              <div class="col"> <hr></div>
              <div class="col-auto text-center "> 
                  <h6>Shop by mood</h6>
              </div>
              <div class="col"><hr></div>
            </div>
            <div class="row mt-2">
                <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
    
<div class="container">
  <div class="row">
    <div class="col-4 ">
      <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
  
    </div>
    <div class="col-3">
      <div >
          <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
      </div>
      <div class="mt-3">
      <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
      </div>
  
    </div>
    <div class="col-3">
      
        <div>
            <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
        </div>
        <div class="mt-3">
        <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="col-2">
      <img class="collection img-fluid rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
      
    </div>
  </div>
</div>




<!-- some headings -->

<div class="lineBreak">
    <div class="container-fluid  ">
      <div class="row">
        <div class="col"> <hr></div>
        <div class="col-auto text-center "> 
            <h6>Headings</h6>
        </div>
        <div class="col"><hr></div>
      </div>
      <div class="row mt-2">
          <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-start">
      <div class="col-4 ">
        <img class="promationImg rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">

      </div>
    </div>
    
    <div class="row justify-content-end">
      <div class="col-5 ">
        <img class="promationImg rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
     </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-4 ">
        <img class="promationImg rounded" src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
      </div>
      </div>
  </div>
     

      





