
<div class="card">
    <div class="container mt-3">
      <h5>My activity</h5>
      <div class=" mt-5 mb-3">
          <span class="pl-2">date</span>
          <div class="activity">
              <div class="rounded border">
                  <div class="row pl-3 mt-2 mb-4 ">
                    <div class="col-5 "><h6>user activities</h6></div>
                    <div class="col-6 activitymedia ">
                      <img class=" rounded border activitymediaimg img-fluid " src="../../../assets/demo jewellery images/lovely ring image.jpg" alt="">
                    </div>
                    <div class="col-1">edit</div>
                  </div>
                  <hr>
                  <div class="row pl-3 mt-2 mb-4">
                      <div class="col-5 "><h6>user activities</h6></div>
                      <div class="col-6 activitymedia ">
                        <img class=" rounded border activitymediaimg img-fluid  " src="../../../assets/demo images/brooke-cagle-52214-unsplash.jpg" alt="">
                      </div>
                    <div class="col-1">edit</div>
      
                    </div>
                </div>
          </div>
        
      </div>
      
    </div>

</div>