
h5{
    font-weight: 600;
    font-size: 14px
}
h6{
    font-size: 14px;
    
}

img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}
p,span{
    color: white    
}
.card-body{
    height: 400px;;
}
.send{
    border-radius: 20%
}
.card-header{
    height: 75px;
}