<div class="card">
  <div class="container">
    <div class="row mt-3 ml-1"><h5>Messages</h5></div>
    <div class="row">
      <div class="col">
          <div class="row mt-3">
              <div class="col text-center">
                <button class="btn btnP container-fluid" type="button">Create</button>
              </div>
              <div class="col text-center">
                <button class="btn btnS container-fluid" type="button">Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                  <form class="" role="form">           
                      <input type="text" class="form-control input-lg" id="search-church" placeholder="Search">
              </form>
              </div>
            </div>
            <div class="rounded border mt-3">
              <a href="">
                  <div class="row mt-2">
                      <div class="col-md-3 text-center">
                       <img class="rounded-circle img-fluid" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" alt="">
                   </div>
                   <div class="col-md-6 mt-2">
                     <h5>User Name</h5>
                     <h6 class="text-muted"> last message</h6>
                   </div>
                   <div class="col-md-3 mt-2">
                     <span>time</span>
                     <h6>Settings</h6>
                     </div>
                 </div>
              </a>
               
              <hr>
              <a href="">
                  <div class="row mt-2">
                      <div class="col-md-3 text-center">
                       <img class="rounded-circle img-fluid" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" alt="">
                   </div>
                   <div class="col-md-6 mt-2">
                     <h5>User Name</h5>
                     <h6 class="text-muted"> last message</h6>
                   </div>
                   <div class="col-md-3 mt-2">
                     <span>time</span>
                     <h6>Settings</h6>
                     </div>
                 </div>
              </a>
            </div>
      </div>
      <div class="col">
          <div class="card">
              <div class="card-header bgColor">
                  <div class="row">
                          <div class="col-md-2 text-center">
                              <img class="rounded-circle" src="../../../assets/demo jewellery images/jewelry-picture_072927611_205.jpg" alt="">
                                  </div>
                          <div class="col-md-10">
                                 <span>user name</span>
                                  <p>time</p>
                                </div>
                  </div>
              </div>
              <div class="card-body">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-9">
                      <input type="text" class="form-control" placeholder="Type">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btnP send">Send</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>