<div class="card container-fluid">
  <div class="card-body">
    <ul class="list-unstyled"  >
      <h6 class="text-muted">OVERVIEW</h6>
      <li>
        <a routerLink="/dashboardpage/newsfeeds"> News Feed </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/dashboard"> Dashbord </a>
      </li>
      
      <li>
        <a routerLink="/profile"> Profile</a>
      </li>
      <li>
        <a routerLink="/dashboardpage/message" > Messages</a>
      </li>

      <hr>
      
        <h6 class="text-muted">PRODUCT DETAILS</h6>

      <li>  
        <a routerLink="/dashboardpage/orders"> Orders </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/wishlist"> Wishlist </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/addressBook"> Address Book</a>
      </li>
      
      <hr>
      <h6 class="text-muted">CREDITS</h6>
      
      <li>  
        <a routerLink="/dashboardpage/coupons"> Coupons </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/cards"> Saved Cards </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/loyaltyPoints"> Tanzire Loyalty Points</a>
      </li>
      <li>
        <a routerLink="/dashboardpage/wallet"> Wallet</a>
      </li>

      <hr>
      <h6 class="text-muted">SETTING</h6>
      
      <li>  
        <a routerLink="/dashboardpage/myactivity"> My Activity </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/settings"> Settings </a>
      </li>
      <li>
        <a routerLink="/dashboardpage/help"> Help</a>
      </li>
      <li>
        <a href='#' >Sign Out</a>
      </li>
    </ul>
  </div>
</div>