 <div class="container"><span>{{ routerUrl}}</span></div>
 <div class="products">
 <div class=" bgColor1 banner mt-3">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link " routerLink="/product">Necklaces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/product">Rings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/product">Earrings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/product">Bracelets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/product">Body jewellery</a>
        </li>
      </ul>
      <div class="mx-auto text-center">
      <button routerLink="/product" class="btn btnP mb-5 "> Shop Now</button>

      </div>

 </div>

 <div class="tags row">
   <div class="col">
      <button class="btn btnP m-3">#Tags</button>
      <button class="btn btnP m-3">#Other Tags</button>
      <button class="btn btnP m-3">#Tags</button>
   </div>
   
<div class="col my-auto  text-right">
    <select class="bgLight rounded">
        <option value="1">most popular</option>
        <option value="2">most popular 2</option>
        <option value="3">most popular 3</option>
        <option value="4">most popular 4</option>
      </select>
</div>


 </div>

 <div class="row mt-5">
          <div class="col-md-4 py-2">
              
              <div class="card  text-center" >
                  <img routerLink="/products/product"  class="card-img-top" src="../../../assets/demo jewellery images/jewelry-photo_072928275_205.jpg" id="wishimg1" alt="">
                 
                   <div class="card-body icon">
                      <div class="col">
                          <img  src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="cart">
                          <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                       </div>
                   </div>
                 </div>
                

                 <div class="text-center mt-2">
                    <h5>Some test jewellery</h5>
                    <h6 class="text-muted">Lamcy</h6>
                    <h5>US$ 20</h5>
                  </div>
          </div>
              
            

          <div class="col-md-4 py-2">
              <div class="card  text-center" >
                  <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
                 
                   <div class="card-body icon">
                      <div class="col">
                          <img src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                          <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                       </div>
                   </div>
                 </div>
                 <div class="text-center mt-2">
                   <h5>Some test jewellery</h5>
                   <h6 class="text-muted">Lamcy</h6>
                   <h5>US$ 20</h5>
                 </div>
          </div>

          <div class="col-md-4 py-2">
              <div class="card  text-center" >
                  <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
                 
                   <div class="card-body icon">
                      <div class="col">
                          <img src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                          <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                       </div>
                   </div>
                 </div>
                 <div class="text-center mt-2">
                    <h5>Some test jewellery</h5>
                    <h6 class="text-muted">Lamcy</h6>
                    <h5>US$ 20</h5>
                  </div>
          </div>
         
      </div>
    </div>
    
 