<div class="container ml-5"><h5>Filter</h5></div>
<div class="container mt-3">
  <div class="card ml-5  ">
    <div class="card-body">
      <ul class="list-unstyled"  >
        <h6>Special Offers</h6>
        
          <input type="checkbox" value="On Sale">On Sale <br>
        <br>
  
        <h6>CATEGORIES</h6>
  
        <input type="checkbox" value="Pearl">Pearl <br>
        <input type="checkbox" value="Gold Plated">Gold Plated[20] <br>
        <input type="checkbox" value="Silver">Silver[8]<br>
        <br>
        <h6>Price</h6>
        
        <input type="checkbox" value="Any Price">Any Price <br>
        <input type="checkbox" value="Under US$5">Under US$5 <br>
        <input type="checkbox" value="Under US$5-$25">Under US$5-$25<br>
        <br>
        <div class="row">
          <div class="col ">
            <select class="bgLight">
              <option value="1">20$</option>
              <option value="2">50$</option>
              <option value="3">100$</option>
              <option value="4">500$</option>
            </select>
          </div>
          <span>To</span>
          <div class="col ">
            <select class="bgLight">
              <option value="1">50$</option>
              <option value="2">100$</option>
              <option value="3">200$</option>
              <option value="4">1000$</option>
            </select>
          </div>
        </div>

       
      </ul>
    </div>
  </div>
</div>
