<div class="container mt-5 mb-5">
  <div class="row mt-5 pl-5">
    <h6>{{routerUrl}} </h6>
  </div>

      <!-- prodct image  -->      
  <div class="row mt-3">
    <div class="col-7">
      <div class="row">
          <!-- thumbnails -->
        <div class="col-3 text-right mt-5 sideImg">
          <img  src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnamil mt-2" alt="">
          <img  src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnamil mt-2" alt="">
          <img  src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnamil mt-2" alt="">

        </div>

          <!-- full image -->
        <div class="col-9 text-center fullImg">
            <img class="img-fluid mt-2 rounded"  src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" alt="">
           </div>
      </div>
    </div>

      <!-- price and all -->
    <div class="col-5">
      <div>
        <h4>Product name</h4>
        <h6 class="text-muted">Lamcy</h6>
      </div>
      <hr>
      <div>
        <h4>US$50</h4>
        <br>
        <h6>Color</h6>
        <h6 >colors</h6>
        <br>
        <h6>SIZE</h6>
        <select>
            <option value="1">Size 1</option>
            <option value="2">Size 2</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
          </select>
        <div class="  mt-4">
            <button routerLink="/cartitem" type="button" class="btn btnP container-fluid">
            Add to cart
          </button>

        </div>

        <div class="  mt-2 text-center">
          <a href="#" class="">Add to Wishlist</a>
        </div>
     
        <div class="mt-3">
            <div><h6>Product details</h6></div>
            <hr>
            <p>product details</p>
    
            <div><h6>Delivery</h6></div>
            <hr>
            <p>Delivery details</p>
    
            <div><h6>Returns</h6></div>
            <hr>
            <p>Return policy and process</p>
        </div>
     

       

      </div>  
    </div>
  </div>

  <div class="mt-3">
    <h5 class="pl-3">Product Description</h5>
    <hr>
    <div class="row pl-3">
      <div class="col-7">
        <h6>Silver Earrings </h6>
        <p>discription</p>
        <br>
        <h6>Silver Earrings</h6>
        <p>discription</p>

      </div>

      <div class="col-5">
        <h6>About the designer</h6>
        <p>Designer details</p>
        <br>
        <div>
            <img height="100px" width="100px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnamil rounded m-3" alt="">
            <img height="100px" width="100px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnamil rounded m-3" alt="">
            <img height="100px" width="100px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnamil rounded m-3" alt="">
  
        </div>
        <div class="text-center mt-3">
          <button class="btn btnS">See more from this designer </button>

        </div>
      </div>
     

    </div>
  </div>

  <!-- Reviews -->

 <app-product-reviews></app-product-reviews>
  <!-- comments section -->
  
  <!-- recommandations -->

 
  

</div>
