h4{
    font-weight: bold;
    font-size: 24px;
}
h5{
    font-weight: 700 !important;
    font-size: 18px;
}
select{
    width: 150px;
    border-radius: 5px;
    background-color: aliceblue;
}
.addwish h{
    border-color: transparent !important;
    text-decoration: none;   
}
h6{
    font-size: 16px;
    // font-weight: 700;
}
.sideImg img{
    height: 130px;
    width: 150px;
}
.fullImg img{
    height: 500px;
    width: 484px;
    // border-radius: 4px !important;
}