<div class="card">
  
      <div class="card-header bgLight">
          <nav class="nav ">
            <h6 class="mr-3 mt-2">NEWS FEEDS</h6>
            <input class="border rounded pl-2 ml-auto newsFeedInput" type="text" placeholder="news feed">
              <img class="newsFeedInput" src="../../../assets/settings icons/add button-SkP2NV1tV.svg" alt="">
              <img class="newsFeedInput" src="../../../assets/help icons/send-rJrgqvJFN.svg" alt="">
              <img class="newsFeedInput"src="../../../assets/settings icons/bell-SyaKmVJK4.svg" alt="">
            </nav>
      </div>
    
      <div class="card-body ">
          <div class="card cardLRM">
            <div class="card-body bgLight">
                <ul class="list-unstyled">
                    <li><input type="textarea" class="container" placeholder="Write Something...."></li>
                    <li class="mt-3">
                        <button class="btn btnP btn-sm ml-4" type="submit">Photos</button>
                        <button class="btn btnP btn-sm ml-4" type="submit">Videos</button>
                        <button class="btn btnP btn-sm ml-4 " type="submit">Post</button>
                    </li>
                  </ul>
                </div>
            </div>
          
  


        <div class="row posts cardLRM mt-5">
            <div class="col">
                <div class="card">
                        <div class="card-header row">
                            <div class="col-2 text-center">
                    <img class="profileImgS rounded-circle" src="../../assets/demo jewellery images/diamond ring image.jpg" alt="profileImg">
                                
                            </div>
                            <div class="col-10">
                          <h6> user name <p>time</p> </h6>

                            </div>
                          
                          
                        </div>
                        <div class="card-body">
                            <img src="../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="bgLight pl-4">
                          <h6>Likes</h6>
                        </div>
                        
                        <div class="card-footer row text-center">
                          <a href="#" class=" col-md-4"> Like</a>
                          <a href="#" class=" col-md-4">Comment</a>
                          <a href="#" class="col-md-4">Share</a>
                        </div>
                      </div>
        </div>
  
</div>
</div>
</div>