
<div class="card container">
    <h4 class="mt-3 pl-3">Tanzire Loyalty Points</h4>
    <div class="card-body row">
            <div class="card col-md-6 py-2" >
                    <div class="card-body mt-3 text-center">
                            <h3 class="card-title"> 250 Points</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Worth $2.75</h6>
                    </div>
            </div>
                  <div class="card col-md-6 py-2" >
                        <div class="card-body mt-3">
                          <h6>You have 0 referral points pending  </h6>
                        </div>
                  </div>
    </div>


    <!-- tearms and conditions -->
    <div id="accordion">
            <div class="card text-decoration-none ">
                  <div class="card-header acco btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                      <h6 class="text-left" >
                          GENRAL TERMS AND CONDITIONS
                      </h6>
                  </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
    </div>
</div>

    
