
 
   <div class="card">
        <h5 class="mt-3 ml-3">Wish List</h5>
        <div class="card-body row">
            <div class="col-md-3 py-2">
                <div class="card text-center" >
                    <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry-photo_072928275_205.jpg" id="wishimg1" alt="">
                   
                     <div class="card-body">
                      
                            <img class="proIcon" src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                            <img class="proIcon" src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                         
                     </div>
                   </div>
                   <div class="text-center">
                      <h5>Some test jewellery</h5>
                      <h6 class="text-muted">Lamcy</h6>
                      <h5>US$ 20</h5>
                    </div>
            </div>
         
  
            <div class="col-md-3 py-2">
                <div class="card text-center" >
                        <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry-photo_072928275_205.jpg" id="wishimg1" alt="">
                   
                     <div class="card-body">
                            <img class="proIcon" src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                            <img class="proIcon" src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                     </div>
                   </div>
                   <div class="text-center">
                      <h5>Some test jewellery</h5>
                      <h6 class="text-muted">Lamcy</h6>
                      <h5>US$ 20</h5>
                    </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center" >
                    <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
                   
                     <div class="card-body">
                            <img class="proIcon" src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                            <img class="proIcon" src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                     </div>
                   </div>
                   <div class="text-center">
                      <h5>Some test jewellery</h5>
                      <h6 class="text-muted">Lamcy</h6>
                      <h5>US$ 20</h5>
                    </div>
            </div>
            <div class="col-md-3 py-2">
                    <div class="card text-center" >
                        <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
                       
                         <div class="card-body">
                                <img class="proIcon" src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                                <img class="proIcon" src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                         </div>
                       </div>
                       <div class="text-center">
                          <h5>Some test jewellery</h5>
                          <h6 class="text-muted">Lamcy</h6>
                          <h5>US$ 20</h5>
                        </div>
                </div>
           
        </div>
    </div>
 