.lineBreak .container-fluid{
    padding: 0%;
}
.brandPng{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
.brandPNG1{
    height: 150px;
    width: 50%;
    object-fit: fill;
}
.ExplorIMG{
    height: 400px;
    object-fit: cover;
}
.gramInnerImg{
    height: 150px;
    object-fit: cover;
}
.gramImg{
    height: 300px;
    object-fit: cover;
}
.gramImgmiddle1{
    height: 300px;
    object-fit: cover;
}
.gramImgmiddle2{
    height: 100px;
    object-fit: cover;
}
h5{
    font-family: 'ActaDisplayW01-Medium' !important;
    columns: #3f3f3f !important;
}
.grem .container-fluid{
    padding: 0%;
}
.figure-img{
    margin-bottom: 0%;
}
p{
    font-size: 18px;
    font-weight: 600;
}
