<!-- news Articals -->
<div class="lineBreak">
  <div class="container-fluid  ">
    <div class="row">
      <div class="col"> <hr></div>
      <div class="col-auto text-center "> 
          <h6>In the news</h6>
      </div>
      <div class="col"><hr></div>
    </div>
    <div class="row mt-2">
        <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
      <div class="col-4 text-center">
    
          <img class="brandPng" src="../../../assets/brandPNG/5847e7a1cef1014c0b5e480f.png" alt="">
        </div>
        <div class="col-4 text-center">
          
          <img class="brandPng" src="../../../assets/brandPNG/5847e7c1cef1014c0b5e4813.png" alt="">
        </div>
        <div class="col-4 text-center">
        
          <img class="brandPng" src="../../../assets/brandPNG/5847f18dcef1014c0b5e485a.png" alt="">
        </div>
  </div>
  <div class="row mt-3">
    <div  class="col text-center">
      <img class="brandPNG1" src="../../../assets/brandPNG/5847e8b4cef1014c0b5e4817.png" alt="">
    </div>
    <div  class="col text-center">
      <img class="brandPNG1" src="../../../assets/brandPNG/589a474e5aa6293a4aac48b5.png" alt="">
    </div>
  </div>
</div>

<!-- Blog Articals -->

<div class="lineBreak">
    <div class="container-fluid  ">
      <div class="row">
        <div class="col"> <hr></div>
        <div class="col-auto text-center "> 
            <h6>Explore</h6>
        </div>
        <div class="col"><hr></div>
      </div>
      <div class="row mt-2">
          <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <img class="ExplorIMG figure-img img-fluid rounded" src="../../../assets/demo jewellery images/jewelry-photo_072928275_205.jpg" alt="">
      <h5 class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, ipsa!</h5>
      <button class="btn btnP text-center mt-3">Read more</button>
    </div>

    <div class="col-4 figure text-center">
        <img class="ExplorIMG figure-img img-fluid rounded" src="../../../assets/demo jewellery images/jewelry-photo_072928275_205.jpg" alt="">
      <h5 class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, ipsa!</h5>
        <button class="btn btnP text-center mt-3">Read more</button>

    </div>

    <div class="col-4 figure text-center">
        <img class="ExplorIMG figure-img img-fluid rounded" src="../../../assets/demo jewellery images/jewelry-photo_072928275_205.jpg" alt="">
      <h5 class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, ipsa!</h5>
        <button class="btn btnP text-center mt-3">Read more</button>
    </div>    
  </div>
</div>

<!-- Shope the gram -->
<div class="lineBreak">
  <div class="container-fluid  ">
    <div class="row">
      <div class="col"> <hr></div>
      <div class="col-auto "> <h6>Shop by grem</h6></div>
      <div class="col"><hr></div>
    </div>
  </div>
</div>
<div class="grem">
  <div class="container-fluid mt-5">
    <div class="row no-gutters">
      <div class="col-4 row no-gutters ">
        <div class="col-5 figure">
          <div>
              <img class="gramInnerImg figure-img img-fluid" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="">
  
          </div>
          <div>
              <img class="gramInnerImg figure-img img-fluid" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="">
  
          </div>
        </div>
        <div class="col-7 figure">
            <img class="gramImg figure-img img-fluid" src="../../../assets/demo jewellery images/lovely ring image.jpg" alt="">
          
        </div>
       </div>
      <div class="col-4 figure ">
        <div>
            <img class="gramImgmiddle1 figure-img img-fluid" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="">
        </div>
      </div>
  
      <div class="col-4 row no-gutters ">
          <div class="col-7 figure">
              <img class="gramImg figure-img img-fluid" src="../../../assets/demo jewellery images/lovely ring image.jpg" alt="">
  
          </div>
          <div class="col-5 figure">
              <div>
                  <img class="gramInnerImg figure-img img-fluid" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="">
      
              </div>
              <div>
                  <img class="gramInnerImg figure-img img-fluid rounded" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="">
      
              </div>
          </div>
      </div>
  
    </div>
  </div>
</div>



