<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!-- products -->
      <div class="card">
        <!-- item -->
              <div class="card-body">
                <div class="container">
                    <div class="row text-center">
                        <div class="col"><h5>Product Name</h5></div>
                        <div class="col"><h5>Qty</h5></div>
                        <div class="col"><h5>price</h5></div>
                    </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="" class="img-thumbnail">
                                
                              </div>
                        
                        <div class="col">
                          <h5>Silver Earrings</h5>
                          <h6>Size - 6</h6>
                          <h6>Color</h6>
                        </div>
                        </div>
                    </div>
                    <div class="col text-center">
                  <!-- QTY -->
                        <div class="dropdown">
                            <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">qnt</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">1</a>
                                <a class="dropdown-item" href="#">2</a>
                                <a class="dropdown-item" href="#">3</a>
                              </div>
                    </div>
                </div>
                <!-- price -->
                <div class="col text-center">
                    <h5>200</h5>
                </div>
                </div>
                </div>
           </div>
           <hr>
           <div class="row">
             <div class="col"></div>
             <div class="col text-center">
                <div><h5>Subtotal</h5></div>
             </div>
             <div class="col text-center">
                      <div><h5>200</h5></div>
                   </div>
               </div>
             </div>
      <!-- footer -->
    </div>
    
     
<!-- cart value -->

    <div class="col-md-4">
      <div class="card">
        <h5 class="pl-3 mt-3">Shopping cart</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
                <div>
                    <h6>cart value</h6>
                    <h6>item tax</h6>
                    <h6>value added tax</h6>
                    <h6>Shipping charge</h6>
                    <hr>
                    <h5>Subtotal</h5>
                  </div>
            </div>
            <div class="col text-center">
             <h6>15</h6>
             <h6>15</h6>
             <h6>15</h6>
             <h6>15</h6>
              <hr>
              <span>150</span>
            </div>
          </div>
          <div class="row text-center">
              <div class="col-12">
                  <button routerLink="/shipping&Payment" class="btn btnP btn-block" type="button">Continue</button>
              </div>
            </div>
        </div>
      </div>
      <!-- <table class="table table-borderless border">
          <thead>
            <tr>
              <th scope="col">Shopping Cart</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cart value</td>
              <td>25$</td>
            </tr>
            <tr>
              <td>Item tax</td>
              <td>5$</td>
            </tr>
            <tr>
              <td>Value added tax</td>
              <td>30$</td>
            </tr>
            <tr>
                <td>shipping charge</td>
                <td>10$</td>
              </tr>
          </tbody>
          <hr>
        </table> -->
    </div>
  </div>
</div>

