<!-- reviews -->

<div class="container mt-3 mb-3">
    <div class="mt-5">
        <h5>Reviews</h5>
        <hr>
      </div>

  <!-- commnet input -->
    <div class="comment">
      <div class="row">
          <div class="col-8  bgColor1 commentbox  rounded">
              <div class="row mt-3">
                <div class="col-2">
                    <img src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class=" rounded-circle img-fluid " alt="">
                </div>
                  <div class="input-group input-group-lg col-10 mt-2">
                      <!-- <input type="text" placeholder="Write comments" class="form-control" aria-describedby="inputGroup-sizing-lg"> -->
                      <textarea class="rounded" name="comment" placeholder="Write comment" id="comment" cols="300" rows="2"></textarea>
                    </div>
                     </div>
                     <div class="text-right">
                          <button class="btn send m-2" type="button">Send</button>
                          <button class="btn  clear m-2">Clear</button>
                      </div>
              </div>
      </div>
     
    </div>






    <!-- reviews -->

  <div class="row mt-4">
    <div class="col-3 mt-3">
      
  <!-- user -->
  <div class="row review">
    <div class="col-6 mt-4">
        <img src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class=" rounded-circle img-fluid" alt="">

    </div>
      <div class="col-6 mt-5">
        <h6>Name of User</h6>
      </div>
  </div>
      
    </div>

    <div class="col-6">
      <div class="mt-5">
        <h5>Beautiful piece and speedly delivered</h5>
        
      <h6>comments</h6>
      </div>
      <div class="nav mt-2">
        <a class="ml-3 text-muted" href="#">Reply</a>
        <a class="ml-3 text-muted" href="#">Share</a>
        <a class="ml-3 text-muted" href="#">Report abuse</a>
      </div>
      <!-- comments -->
    </div>
    <div class="col-3 text-center  mt-5">
      August 10, 2019
    </div>
  </div>
</div>
