
 
   <div class="card">
      <h5 class="ml-3 mt-3">Settings</h5>
      <div class="card-body row">
            <a routerLink='/dashboardpage/editprofile' class="col-md-4 py-2">
                  <div class="card" >
                        <div class="row">
                          <div class="col-4">
                             <img src="../../../assets/settings icons/add button-SkP2NV1tV.svg" alt="">
                          </div>
                          <div class="col-8">
   
                             <h5 class="card-title">Edit Profile</h5>
                             <h6 class="card-subtitle mb-2 text-muted">Edit Profile Settings</h6>
                          </div>
                        </div>
                    </div>
               </a>
           <a href="#" class="col-md-4  py-2">
               <div class="card" >
                     <div class="row">
                       <div class="col-md-4 ">
                          <img  src="../../../assets/settings icons/security open key-BJDufN1YE.svg" alt="News Feeds">
                       </div>
                       <div class="col-md-8">
                            <h5 class="card-title ">Security</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Change Your Account Security</h6>
                   
                       </div>
                     </div>
                 </div>
            </a>
            <a href="#" class="col-md-4  py-2">
               <div class="card" >
                     <div class="row">
                       <div class="col-4">
                 <img src="../../../assets/settings icons/security-By3nfEyF4.svg" alt="Profile Settings">
                       </div>
                       <div class="col-8">
                          <h5 class="card-title">Privacy</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Change Your Account Privacy </h6>
                       </div>
                     </div>
                   
                 </div>
            </a>
            <a href="#" class="col-md-4 py-2">
               <div class="card" >
                     <div class="row">
                        <div class="col-4">
                 <img src="../../../assets/settings icons/block boy-SkcrQVJKN.svg" alt="Check Your Orders">
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Blocking</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Block Spammers and People</h6>
                        </div>
                     </div>
                    
                 </div>
            </a>
            <a href="#" class="col-md-4 col-12 py-2">
               <div class="card" >
                     <div class="row">
                        <div class="col-4">
                 <img src="../../../assets/settings icons/bell-SyaKmVJK4.svg" alt="">
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">Notification Settings</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Change Your Notification Settings</h6>
                        </div>
                     </div>
                    
                 </div>
            </a>
            <a href="#" class="col-md-4 py-2">
               <div class="card" >
                     <div class="row">
                       <div class="col-4">
                       <img src="../../../assets/settings icons/money-By3gS41KV.svg" alt="">
                       </div>
                       <div class="col-8">
                          <h5 class="card-title">Payments</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Change Your Payment Details </h6>
                       </div>
                     </div>
                   
                 </div>
            </a>
            <a routerLink="/addressBook" routerLinkActive="mat-accent" class="col-md-4 py-2">
               <div class="card" >
                     <div class="row">
                       <div class="col-4">
                          <img src="../../../assets/settings icons/read-SJgJ4NJY4.svg" alt="">
                       </div>
                       <div class="col-8">
                          <h5 class="card-title">Post Settings</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Change Post Settings</h6>
                       </div>
                     </div>
                 </div>
            </a>
         
      </div>
    </div>
 