// img{
//     height: 80px;
//     width: 80px;
//     align-self: center;
// }
h5,h3,h4,h6{
    color: black;
    font-family: 'open sans';
    
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
.card{
    padding: 10px 0px;
}