
  <div class="row no-gutters mt-5">
    <div class="col-3">
      <img class="catImg" src="../../../assets/demo images/Image_1.png" alt="">
    </div>
    <div class="col-3">
      <img  class="catImg"src="../../../assets/demo images/Image_2.png" alt="">
    </div>
    <div class="col-3">
      <img class="catImg" src="../../../assets/demo images/Image_3.png" alt="">

    </div>
    <div class="col-3">
      <img class="catImg" src="../../../assets/demo images/Image_4.png" alt="">
    </div>
    

  </div>

