<div class="container mt-5">
  <div class="row no-gutters">
    <div class="col-3">
      <img class="catImg" src="../../../assets/demo images/kyle-frederick-1042416-unsplash.jpg" alt="">
    </div>
    <div class="col-3">
      <img  class="catImg"src="../../../assets/demo images/kyle-frederick-1042416-unsplash.jpg" alt="">
    </div>
    <div class="col-3">
      <img class="catImg" src="../../../assets/demo images/kyle-frederick-1042416-unsplash.jpg" alt="">

    </div>
    <div class="col-3">
      <img class="catImg" src="../../../assets/demo images/kyle-frederick-1042416-unsplash.jpg" alt="">
    </div>
    

  </div>
</div>