<header class="container-fluid bgColor1">
    <div class="row ">
       <div class="col-3 text-center my-auto">
          <h6>India|US</h6>
       </div>
       <div class="col-6 text-center my-auto">
          <a class="navbar-brand " routerLink="/">
          <img  class="logo" src="../../assets/images/Logo_PNG.png" alt="Tanzire">
          </a>
       </div>
       <div class="col-3 my-auto">
          <div class="row">
             <div class="col-4 text-center">
                <ul class="list-unstyled mr-2">
                   <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-xl">
                      <li><img class="homeIcon" src="../../assets/images/inquiry-S1P9RV1FV.svg" alt="Search"></li>
                      <li>Search</li>
                   </a>
                   <!-- modelbox -->
                   <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                         <div class="modal-content">
                            <div class="input-group">
                               <input placeholder="Search for product, Designer, Profile etc" type="text" class="form-control" id="recipient-name">
                               <div class="input-group-append">
                                  <button class="btn" type="button" id="button-addon2">Search</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </ul>
             </div>
             <div class="col-4 text-center dropdown show">
                <a  class="dropdown-toggle"   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <ul class="list-unstyled mr-2 mt-2">
                      <li><img class="homeIcon" src="../../assets/images/character-ryQACV1KN.svg" alt="Profile"></li>
                      <li class="nav-item active" >Profile</li>
                   </ul>
                   <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/dashboardpage">DashBoard</a>
                <a class="dropdown-item" routerLink="/profile">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                </div>
                </a>
             </div>
             <div class="col-4 text-left">
                <a>
                   <ul class="list-unstyled mr-2">
                      <li><img class="homeIcon" src="../../assets/images/Bag-ByOHyH1FV.svg" alt=""></li>
                      <li>Bag</li>
                   </ul>
                </a>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- navigation bar -->
 <nav class="bgColor navbar">
    <ul class="nav justify-content-center ">
       <li class="nav-item">
          <a class="nav-link" routerLink="#">What's New <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Products" routerLinkActive="mat-accent">Necklaces <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Products" routerLinkActive="mat-accent">Rings <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Products" routerLinkActive="mat-accent">Earrings <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Products" routerLinkActive="mat-accent">Bracelets <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Products" routerLinkActive="mat-accent">Body Jewellery <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/Home/sProfile" >Sale <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="#">Explor <span class="sr-only">(current)</span></a>
       </li>
    </ul>
 </nav>
 