<div class="container mt-5">
  <div class="row ml-3">
    <h5>Recommendations</h5>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-3 py-2">
          <div class="card text-center" >
              <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
             
               <div class="card-body icon">
                  <div class="col">
                      <img src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                      <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                   </div>
               </div>
             </div>
             <div class="text-center">
               <h5>Some test jewellery</h5>
               <h6 class="text-muted">Lamcy</h6>
               <h5>US$ 20</h5>
             </div>
      </div>
      <div class="col-md-3 py-2">
          <div class="card text-center" >
              <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
             
               <div class="card-body icon">
                  <div class="col">
                      <img src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                      <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                   </div>
               </div>
             </div>
             <div class="text-center">
               <h5>Some test jewellery</h5>
               <h6 class="text-muted">Lamcy</h6>
               <h5>US$ 20</h5>
             </div>
      </div>

      <div class="col-md-3 py-2">
          <div class="card text-center" >
              <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
             
               <div class="card-body icon">
                  <div class="col">
                      <img src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                      <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                   </div>
               </div>
             </div>
             <div class="text-center">
               <h5>Some test jewellery</h5>
               <h6 class="text-muted">Lamcy</h6>
               <h5>US$ 20</h5>
             </div>
      </div>
      <div class="col-md-3 py-2">
          <div class="card text-center" >
              <img class="card-img-top" src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" id="wishimg1" alt="">
             
               <div class="card-body icon">
                  <div class="col">
                      <img src="../../../assets/images/shopping cart plus-H1SJBaxYE.svg" alt="">
                      <img src="../../../assets/images/favorite-HkKuH6gKV.svg" alt="">
                   </div>
               </div>
             </div>
             <div class="text-center">
               <h5>Some test jewellery</h5>
               <h6 class="text-muted">Lamcy</h6>
               <h5>US$ 20</h5>
             </div>
      </div>

</div>
