<div class="container">
      <div class="row">
        <div class="col-8">
          <div class="card">
          <div class="container  mb-3 row">
            <div class="col">
                <h4 class="mt-3 ml-3">Shipping details</h4>
              
            
            <div class="card bg-light mt-3 ml-3" >
                    <div class="card-body mt-3">
                            <h6>user name </h6>
                            <br>
                            <h6>address</h6>
                            <h6>883439394</h6>
                            
                            <h6>302020</h6>
                    </div>
                    <br>
                    <div class="card-footer text-center">
                        <div class="row">
                                <div class="col">
                                        <a class="col " href="#">Edit</a>
                                </div>
                                <div class="col">
                                        <a class="col " href="#">Delete</a>
    
                                </div>
                        </div>
                       
                    </div>
            </div>
            <button type="button" class="btn btnS container-fluid mt-3 ml-3 ">Change address</button>

            </div>
            <div class="col mt-3"> </div>
          </div>

      </div>
      <!-- payment card -->
      <div class="card mt-3 mb-3">
          <div class="card-body row">
              <div class="col-6">
                    <h4 class="mt-3 ml-3">payment option</h4>
                    
                    
                    <div class="card bg-light mt-3 ml-3 " >
                            <div class=" mt-3 pl-3">
                                    <h5>Standared charted bank </h5>
                                    <br>
                                    <h6 class="text-muted">card number</h6>
                                    <br>
                                    <h5 class="text-muted">Name on card</h5>
                                    <br>
                                    <h6>302020</h6>
                            </div>
                            <br>
                            <div class="card-footer text-center">
                                <div class="row">
                                        <div class="col">
                                                <a class="col " href="#">Edit</a>
                                        </div>
                                        <div class="col">
                                                <a class="col " href="#">Delete</a>
            
                                        </div>
                                </div>
                               
                            </div>
                    </div>
              </div>
              <div class="col-6">
              </div>
         </div>
      </div>
    </div>

            
        <div class="col-4">
            <div class="card">
                <h5 class="pl-3 mt-3">Shopping cart</h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <div>
                            <h6>cart value</h6>
                            <h6>item tax</h6>
                            <h6>value added tax</h6>
                            <h6>Shipping charge</h6>
                            <hr>
                            <h5>Subtotal</h5>
                          </div>
                    </div>
                    <div class="col text-center">
                     <h6>15</h6>
                     <h6>15</h6>
                     <h6>15</h6>
                     <h6>15</h6>
                      <hr>
                      <span>150</span>
                    </div>
                  </div>
                  <div class="row text-center">
                      <div class="col-12">
                          <button class="btn btnP btn-block" type="button">Continue</button>
                      </div>
                    </div>
                </div>
              </div>
        </div>
   </div>
  
    <!-- payment details -->
  
  </div>