<div class="container">
  <div class="row mt-5 pl-5">
    <h5>Profile</h5>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-6 ">
      <img class="rounded float-right" height="200px" width="200px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" alt="">
          </div>
          <div class="col-6 align-middle ">
            <div class="text-center">
              <ul class="list-unstyled">
                <li class="mt-4"><button class="btn btnP" type="button">Choose Photo</button></li>
                <li class="mt-4"><button class="btn btnP" type="button">Edit Profile</button></li>
              </ul>
      
            </div>
          </div>
        </div>
  </div>

  <form>
      <div class="row pt-4">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>

      <div class="row pt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>

        <div class="row pt-4">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>

          <div class="row pt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                
              </div>
            </div>
    </form>

    <div class="row pt-4 mb-5">
        <div class="col">
          <h6>Photos</h6>
          <hr>
          <img width="120px" height="120px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnail" alt="">
          <img width="120px" height="120px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnail" alt="">

          <img width="120px" height="120px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnail" alt="">

        </div>
        <div class="col">
          <h6>Videos</h6>
          <hr>
            <img width="120px" height="120px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnail" alt="">

          <img width="120px" height="120px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnail" alt="">

          <img width="120px" height="120px" src="../../../assets/demo images/53362615_124788111998044_1427657694604419538_n.jpg" class="img-thumbnail" alt="">
          
        </div>
      </div>

</div>