
 
   <div class="card">
      <h4 class="mt-4 ml-4">Coupons</h4>
      <div class="card-body row">
          <a class="col-md-3 py-2">
               <div class="card text-center" >
                 <div class="card-header couponColor"><h5 class="border">NEWUSER</h5></div>
                   <div class="card-body">
                     <h5 class="card-title">10% OFF</h5>
                     <h6 class="card-subtitle mb-2 text-muted">expires on aug 21,2019 **only for new users</h6>
                   </div>
                 </div>
            </a>

            <a class="col-md-3 py-2">
               <div class="card text-center" >
                 <div class="card-header bgColor"><h5 class="border">COUPON20</h5> </div>
                  
                   <div class="card-body">
                     <h5 class="card-title">20% OFF</h5>
                     <h6 class="card-subtitle mb-2 text-muted">expires on aug 21,2019</h6>
                   </div>
                 </div>
            </a>

            <a class="col-md-3 py-2">
               <div class="card text-center" >
                 <div class="card-header couponColor"><h5 class="border">NEW30</h5></div>
                   <div class="card-body">
                     <h5 class="card-title">30% OFF</h5>
                     <h6 class="card-subtitle mb-2 text-muted">expires on aug 21,2019</h6>
                   </div>
                 </div>
            </a>
      </div>
    </div>
 