<!-- tracking orders -->
<div class="card">
  <div class="container">
      <div class="mt-3">
          <h5>Track Orders</h5>
        </div>
  </div>
  <div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-auto">
            <span>shipped</span>
          </div>
            <div class="col-auto"> 
            <h6>Order No. 1234563</h6>
            </div>
          </div>
          <div class="row text-muted"> 
              <div class="col-auto">something</div>
            </div>
  <hr>
  <div class="row ">
      <div class="col-5">
          <div class="row">
              <div class="col-6">
                  <img src="../../../assets/demo jewellery images/jewelry_072925369_205.jpg" alt="" class="img-fluid">

                <!-- image -->
              </div>
              <div class="col-6">
                  <p>Silver Earrings</p>
                  <p>Size-6</p>
                  <p>Color</p>
                  <p>Shipping:standard</p>
    
                <!-- details -->
              </div>
            </div>
      </div>

      <div class="col-2 text-center">
        45$
      </div>
      <div class="col-5">
        <p>Payment Method:Credit Card</p>
        <p class="text-justify">Please Note:You can not return or exchange this as the 10 day return period has expired</p>
        <p>Payment Method:Credit Card</p>


      </div>
    </div>
    </div>
  </div>
 
  <!-- indisual orders -->

  <div class="card-body">
  
    <!-- delivery status -->
    <div class="container mt-5">
        <div class="row">
          <div class="col text-center">
            <img src="../../../assets/orderIcons/Bag-SJvtUgM9N.svg" alt="">
            <h5>Accepted</h5>
            <h6 class="text-muted"> The order has been Accepted by salar</h6>
          </div>
          <div class="col text-center">
            <img src="../../../assets/orderIcons/Graph-BJh4vxGq4.svg" alt="">
              <h5>In progress</h5>
              <h6 class="text-muted"> the order has been Accepted by salar</h6>
            </div>
            <div class="col text-center">
              <img src="../../../assets/orderIcons/Delivery car-ry-bPlzqE.svg" alt="">
                <h5>Shipped</h5>
                <h6 class="text-muted"> the order has been Accepted by salar</h6>
              </div>
              <div class="col text-center">
                <img src="../../../assets/orderIcons/interface-SyrDDlM9N.svg" alt="">
                  <h5>Delivered</h5>
                  <h6 class="text-muted"> the order has been Accepted by salar</h6>
                </div>
          </div>
    </div>
   
  </div>

</div>
